* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: sans-serif; 
    min-height: 100vh;
    background:linear-gradient(rgba(11, 31, 51, 0.9), rgba(11, 31, 51, 0.9)),
             url("../../images/mainBg.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* main wrapper */
.login-wrapper {
    width: 100%;
    max-width: 420px;
    text-align: center;
}

/* header */
.login-header {
    margin-bottom: 25px;
    color: white;
}

.login-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-header p {
    font-size: 1rem;
    color: white;
    opacity: 0.9;
}

/* login */
.login-box {
    background: rgba(255,255,255,0.95);
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
}

/* error msg */
.error {
    background: #ffe5e5;
    color: #b00020; /* fixed typo */
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 0.95rem;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* inputs */
input {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: sans-serif;
    outline: none;
    transition: 0.3s;
}

/* buttons */
button {
    background:black;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold; 
}
.outside-box {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}


button:hover {
    background: black;
    transform: translateY(-2px);
}

/* register */
.register-text {
    margin-top: 20px;
    font-size: 0.95rem;
    color: white;
}

/* register link */
.register-text a {
    color: white;
    font: bold;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}