:root {
    --primary: #0B1F33;
    --secondary: #6C8EAD;
    --white: #ffffff;
    --background: #E6E8EA;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    min-height: 100vh;
    background: url("../../images/bg4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* TITLE */
h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    color: var(--white);
}

/* WELCOME TEXT */
.welcome {
    color: red;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: center;
}

/* MAIN CONTAINER */
.page-container {
    width: 100%;
    max-width: 420px;
}

/* CARD */
.button-group {
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(16, 2, 2, 0.704);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(6px);
    text-align: center;
}

/* BUTTON LINKS */
.button-group a {
    width: 100%;
    text-decoration: none;
    background: var(--white);
    color: var(--primary);
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s ease;
}

/* HOVER EFFECT */
.button-group a:hover {
    background: #d6d6d6;
    transform: translateY(-2px);
}

/* MOBILE */
@media (max-width: 480px) {
    .button-group {
        padding: 30px 20px;
    }
    h2 {
        font-size: 1.8rem;
    }
    .welcome {
        font-size: 0.95rem;
    }
    .button-group a {
        font-size: 0.95rem;
    }
}